<%- include('../partials/header')%>
  <div class="">
    <h1><%= coffee.name%></h1>
    <a href="/roasters/<%=coffee.roaster.id %>"><h2><%= coffee.roaster.name%></h2></a>
    <h3><%= coffee.blendType%></h3>
    <div class="">
      <% if (coffee.blendType === "blend") {%>
        <ul>
          <h3>Coffees in Blend</h3>
            <% for (let blendCoffee of coffee.blendInfo) {%>
              <li><%= blendCoffee.process += " "%><%= blendCoffee.country%></li>
            <%}%>
        </ul>
      <% } else if (coffee.blendType === "single") { %>
        <% var keys = Object.keys(coffee.singleOInfo) %>
        <% keys.forEach( (key) => { %>
          <% if (key === "varietals" && coffee.singleOInfo.varietals.length > 0) { %>
            <p><%=key.toUpperCase()%>: <%= coffee.singleOInfo.varietals.join(", ") %>
          <%} else if (key !== "$init" && coffee.singleOInfo[key].length > 0) { %>
            <p><%= key.toUpperCase()%>: <%= coffee.singleOInfo[key]%></p>
          <%}%>
        <% }); %>
      <% } %>
    </div>
    <form class="" action="/coffees/<%=coffee._id%>/addToUser" method="post">
      <input type="submit" name="submit" value="Save to Account">
    </form>
  </div>
<%- include('../partials/footer')%>
